<p> 1000's of years before there were many civilizations on the face of the planet. All perished, except the one "hindu culture" and it's still widely followed by millions and millions of hindu's around the globe. This is our humble attempt to make this culture touch those millions in a more profound way, through the tool of technology. It's our attempt to bring that culture to your home </p>
